[user]
    name = Adrien Chardon
    email = adrienchardon@mailoo.org
[alias]
    s = status
    c = commit
    logo = log --pretty=oneline --abbrev-commit --color
[color]
    ui = auto
[push]
	default = matching
