[user]
    name = Adrien Chardon
    email = adrienchardon@mailoo.org
[alias]
    s = status
    cm = commit -m
    logo = log --pretty=oneline --abbrev-commit --color
    po = push origin
[color]
    ui = auto
[push]
	default = matching
